script(src = "assets/js/jquery-3.4.1.min.js")
script(src = "assets/js/jquery-migrate-1.4.1.min.js")
script(src = "assets/js/jquery.formstyler.js")
script(src = "assets/js/vivus.min.js")
script(src = "assets/js/wow.min.js")
script(src = "assets/js/jquery.validate.min.js")
script(src = "assets/js/scripts.min.js")